version: '3.8'

services:
  face-detection:
    build: .
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    volumes:
      - ./uploads:/app/uploads
      - ./models:/app/models
      - ./known_faces:/app/known_faces
    restart: unless-stopped
    networks:
      - face-net

networks:
  face-net:
    external: true
    name: nginx-proxy